<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between position-fixed w-100 p-3 px-md-4 py-md-2 bg-white border-bottom shadow-sm top-0 start-0"
>
  <figure class="m-0">
    <img src="/assets/images/logo.png" class="col-md-4 w-100" alt="logo" role="button" style="max-width: 150px;" />
  </figure>

  <nav class="my-2 my-md-0 mx-md-3 col-md-4 d-flex justify-content-center">
    <a href="#" class="p-2 text-dark text-decoration-none">Home</a>
    <a href="#" class="p-2 text-dark text-decoration-none">Shop</a>
    <a href="#" class="p-2 text-dark text-decoration-none">Contact</a>
  </nav>

  <div class="d-flex align-items-center justify-content-md-end">
    <a class="me-4 me-md-4 me-lg-5 text-decoration-none position-relative">
      <i class="fa fa-shopping-cart text-dark" style="font-size: 1.5rem;" role="button">
      </i>
      <span class="cart-no position-absolute top-0 start-100 translate-middle rounded-pill text-white px-1 badge shopping-badge">5</span>
    </a>
    <a class="btn btn-outline-secondary mx-1">Login</a>
    <a class="btn btn-outline-secondary mx-1">Sign&nbsp;up</a>
  </div>
</div>
