/* variables */

:root {
  // typefaces
  --font-type-content: 'Roboto', sans-serif;
  --font-type-display: 'Montserrat', sans-serif;

  // font weights
  --font-weight-regular: 500;
  --font-weight-light: 300;

  // colors
  --color-main: blue;
  --color-text: #111111;
  --color-link: #125699;
}
